header {
  background-color: #2d2d2d;
  height: 150px;
}

.header-content {
  text-align: center;
}

.header-title h1 {
  font-family: "Dancing Script", sans-serif;
  text-decoration: underline;
  font-size: 72px;
}

@media (max-width: 767px) {
  .header-title h1 {
    font-size: 52px;
  }
}
