header {
  background-color: #182635;
  height: 150px;
}

.header-content {
  text-align: center;
  position: relative;
}

.header-title h1 {
  font-family: "Dancing Script", sans-serif;
  text-decoration: underline;
  font-size: 74px;
  color: #f6f6f6;
  margin-bottom: 2px;
  position: relative;
  z-index: 2;
  word-spacing: 45px;
}

.header-icon {
  position: absolute;
  z-index: 1;
  font-size: 60px;
  right: 48.7%;
  top: 15%;
  color: #388cb3;
}

@media (max-width: 767px) {
  header {
    height: 190px;
  }

  .header-title h1 {
    font-size: 74px;
    margin-bottom: 2px;
    position: relative;
    z-index: 2;
    word-spacing: 45px;
  }

  .header-icon {
    position: absolute;
    z-index: 1;
    font-size: 60px;
    right: 44%;
    top: 15%;
    color: #388cb3;
  }

  .header-content {
  }
}

@media (max-width: 390px) {
  .header-title h1 {
    font-size: 4em;
  }

  .header-icon {
    font-size: 54px;
  }
}
