.movielist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movielist-table {
  display: flex;
  width: 90%;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow: hidden;
  border-radius: 10px;
}

table {
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}

.movielist-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Staatliches", sans-serif;
}

.movielist-data,
.movielist-head {
  padding: 20px 40px;
  border-top: 1px solid #000;
}

.delete-btn {
  font-size: 20px;
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.movielist-head {
  background-color: #182635;
  font-size: 30px;
  /* text-decoration: underline; */
  font-family: "Staatliches", sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #a6d0e4;
}

tr:nth-child(even) {
  background-color: #27496d;
}

tr:nth-child(odd) :not(.movielist-head) {
  background-color: #a6d0e4;
}

@media (max-width: 767px) {
  .movielist-table {
    width: 85%;
    margin: 20px 0;
    overflow: hidden;
    flex-direction: column;
  }

  table {
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-style: hidden;
  }

  .delete-btn {
    font-size: 24px;
    background: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }

  .movielist-data {
    padding: 20px 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    font-size: 20px;
  }

  .movielist-head {
    font-size: 48px;
  }

  /* .movielist-data h3::before {
    content: "";
    margin-right: 20px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 15px;
    width: 15px;
    display: inline-block;
  } */

  .movielist-addbtn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 50px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 999;
  }
}
