/* Dekstop */

/* Mobile */
@media (max-width: 767px) {
  .modal-container {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    height: 18%;
    width: 85%;
    background-color: #182635;
    border-radius: 10px;
    opacity: 1;
    animation: modalOpen 0.7s;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
  }

  .modal-header {
    font-family: "Staatliches", sans-serif;
    color: #a6d0e4;
    font-size: 40px;
    margin: 40px 15px 15px 15px;
    text-decoration: underline;
  }

  .modal-body {
    padding: 20px;
  }

  .modal-form input[type="text"] {
    padding: 7px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #000;
    font-size: 18px;
    font-family: "Staatliches", sans-serif;
    outline: none;
  }

  .modal-form input[type="submit"] {
    padding: 7px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #000;
    font-size: 18px;
    cursor: pointer;
    background-color: #388cb3;
    transition: background-color 0.3s;
    font-family: "Staatliches", sans-serif;
  }

  .modal-form input[type="submit"]:hover {
    background-color: #8eb0c0;
  }

  .modal-footer button {
    position: absolute;
    top: 2%;
    right: 4%;
    border: none;
    font-size: 26px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    margin: 10px;
  }
}

/* Keyframes */

@keyframes modalOpen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
