.rating-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating-table {
  display: flex;
  width: 40%;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow: hidden;
  border-radius: 10px;
  margin: 40px 0;
  overflow: hidden;
  flex-direction: column;
}

.ratinglist-head {
  background-color: #182635;
  font-size: 48px;
  font-family: "Staatliches", sans-serif;
  color: #a6d0e4;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.ratingtable-header {
  font-size: 26px;
  font-weight: lighter;
  padding: 15px;
  color: #a6d0e4;
  background-color: #182635;
  text-align: center;
  border: 1px solid #000;
}

table {
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}

.ratinglist-data,
.ratingtable-header {
  font-family: "Staatliches", sans-serif;
  text-align: center;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 15px;
}

.ratinglist-data,
.ratinglist-head {
  border-top: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 15px;
}

.ratinglist-data {
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  font-size: 22px;
  padding: 13px;
}

.delete-btn {
  font-size: 25px;
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.ratingtable-btn {
  /* position: absolute; */
  bottom: 72%;
  right: 8%;
  font-size: 40px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  z-index: 999;
  margin-top: 10px;
  margin-bottom: -20px;
}

.rating-table table tr:nth-child(even) {
  background-color: #27496d;
}

.rating-table table tr:nth-child(odd) :not(.ratingtable-header) {
  background-color: #a6d0e4;
}

@media (max-width: 767px) {
  .rating-table {
    width: 90%;
  }

  .ratinglist-head {
    font-size: 48px;
  }

  .ratingtable-header,
  .ratinglist-data {
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 8px;
  }

  .ratingtable-header {
    font-size: 20px;
    font-weight: lighter;
    padding: 15px;
    color: #a6d0e4;
    background-color: #182635;
    text-align: center;
    border: 1px solid #000;
  }

  table {
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-style: hidden;
  }

  .ratinglist-data {
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    font-size: 20px;
    padding: 13px;
  }

  .delete-btn {
    font-size: 25px;
    background: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }

  .ratingtable-btn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 50px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 999;
  }

  select option {
    font-size: 20px;
    font-weight: bolder;
  }
}
