.wheel-container {
  display: flex;
  justify-content: center;
  transform: translateX(10%);
  margin-top: 25px;
}

.wheel-container canvas {
}

.wheel-text {
  color: #fff;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  font-family: "Staatliches", sans-serif;
}

@media (max-width: 767px) {
  .wheel-container canvas {
    height: 100%;
    width: 150%;
    transform: translateX(-3%);
    color: #fff;
  }

  .wheel-text {
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-family: "Staatliches", sans-serif;
  }
}
