.wheel-container {
  display: flex;
  justify-content: center;
  transform: translateX(10%);
  margin-top: 25px;
}

.wheel-container canvas {
}

.wheel-text {
  color: #fff;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  font-family: "Staatliches", sans-serif;
}

@media (max-width: 767px) {
  .wheel-container canvas {
    height: 200%;
    width: 160%;
    font-size: 22px;
    margin-top: 75px;
    color: #fff;
    margin-left: 10px;
  }

  .wheel-text {
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-family: "Staatliches", sans-serif;
  }
}
